* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Technicality", sans-serif;
  font-family: "Technicality1", sans-serif;
}

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #fe5722;

  --dark-color: #2f3138;
  --light-color: #e8c8b3;

  --accent-color: #feae34;
}

img,
video,
svg {
  max-width: 100%;
}

body {
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  /* background-color: var(--secondary-color);
  color: var(--dark-color); */
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--secondary-color);
  z-index: 10;

  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  background-image: linear-gradient(
      to right top,
      rgba(0, 24, 31, 0.7882352941),
      rgba(0, 24, 31, 0.8)
    ),
    url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  background-attachment: fixed;
}

nav .brand {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .brand_logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
nav .socials {
  display: flex;
  gap: 20px;
}
nav .socials a::after {
  content: "";
  display: block;
  height: 2px;
  transform: scale(0);
  background-color: #fff;
  transition: transform 0.3s;
}
nav .socials a:hover::after,
nav .socials a:active::after {
  transform: scale(1);
}

section:not(:last-of-type) {
  padding: 3rem 2rem;
}

#home {
  display: grid;
  background-color: #ed5120;
  gap: 20px;
  overflow-x: hidden;
  /* background-color: #ed5120; */
}
#home header {
  align-self: center;
  color: #000;
}
#home header p {
  margin-top: 10px;
}
#home header h2 {
  color: #fff;
}
.home_media {
  justify-self: flex-end;
  width: 300px;
}
.home_media img {
  height: 100%;
  width: 100%;
}

#about {
  display: grid;
  background-color: rgba(0, 24, 31, 0.5);
  color: #fff;
  gap: 20px;
  overflow-x: hidden;

  background-image: linear-gradient(
      to right top,
      rgba(0, 24, 31, 0.7882352941),
      rgba(0, 24, 31, 0.5)
    ),
    url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
}
.about_content h2 {
  margin-bottom: 10px;
}
.about_content p {
  margin-top: 10px;
}
.about_content p:nth-child(4)::after {
  content: "👇";
}
.about_media {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #ec5120;
}
.about_media img {
  height: 100%;
  max-width: 200px;
}

#goals {
  /* text-align: center; */
  /* padding: 3rem 0 0 0; */
  padding: 3rem;
  display: grid;
  gap: 3rem;
  overflow-x: hidden;
}
.goals_content {
  order: 1;
}
.goals_content p {
  margin-top: 10px;
}
.goals_media {
  position: relative;
}
.goals_media img {
  max-height: 50rem;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.goals_media::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 5%;
  top: 5%;
  height: 100%;
  width: 100%;
  background-color: #fe5722ab;
}
#gallery {
  padding: 3rem;
}
#gallery h2 {
  margin-bottom: 4rem;
  text-align: center;
}
.gallery-grid {
  display: grid;
  grid-template-rows: 1fr 200px;
  gap: 20px;
  place-items: center;
  place-content: center;
}
.gallery-grid figure {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  position: relative;
}
.gallery-grid figure::before {
  content: "";
  width: 100%;
  transform: scale(1);
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.gallery-grid figure:hover::before {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* width: 100%; */
  transform: scale(0);
}
.gallery-grid figure img,
video {
  width: 100%;
  height: 100%;
}
.gallery-grid figure img {
  object-fit: cover;
}
.gallery-grid figure video {
  background-color: var(--secondary-color);
}
.gallery-grid figure:last-of-type {
  grid-column: 1/3;
}
.gallery-grid figure:last-of-type::before {
  transform: scale(0);
}
#mute-btn {
  position: absolute;
  top: 10px;
  cursor: pointer;
  color: #fff;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px;
  transition: all 0.23s;
}
#mute-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
footer {
  padding: 3rem;
  text-align: center;
}
footer .poweredby {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
footer .spinning_btc {
  position: relative;
  height: 30px;
  max-width: 30px;
}
footer .spinning_btc img {
  width: 100%;
  height: 100%;
  animation: spin 2.5s linear infinite;
}
footer .spinning_btc::after {
  position: absolute;
  width: 64%;
  height: 12%;
  left: 18%;
  border-radius: 50%;
  z-index: -1;
  bottom: 0%;
  content: "";
  box-shadow: 0 50px 24px rgba(255, 255, 255, 0.24);
  /* box-shadow: 0 50px 24px rgba(0, 0, 0, 0.24); */
}
footer p strong {
  color: var(--secondary-color);
}
.pix-play {
  box-shadow: 80px 60px 0 0 rgba(255, 255, 255, 1),
    90px 60px 0 0 rgba(255, 255, 255, 1), 100px 60px 0 0 rgba(255, 255, 255, 1),
    110px 60px 0 0 rgba(255, 255, 255, 1), 120px 60px 0 0 rgba(255, 255, 255, 1),
    130px 60px 0 0 rgba(255, 255, 255, 1), 70px 70px 0 0 rgba(255, 255, 255, 1),
    80px 70px 0 0 rgba(255, 255, 255, 1), 130px 70px 0 0 rgba(255, 255, 255, 1),
    140px 70px 0 0 rgba(255, 255, 255, 1), 60px 80px 0 0 rgba(255, 255, 255, 1),
    70px 80px 0 0 rgba(255, 255, 255, 1), 90px 80px 0 0 rgba(255, 255, 255, 1),
    100px 80px 0 0 rgba(255, 255, 255, 1), 110px 80px 0 0 rgba(255, 255, 255, 1),
    140px 80px 0 0 rgba(255, 255, 255, 1), 150px 80px 0 0 rgba(255, 255, 255, 1),
    60px 90px 0 0 rgba(255, 255, 255, 1), 90px 90px 0 0 rgba(255, 255, 255, 1),
    120px 90px 0 0 rgba(255, 255, 255, 1), 150px 90px 0 0 rgba(255, 255, 255, 1),
    60px 100px 0 0 rgba(255, 255, 255, 1), 90px 100px 0 0 rgba(255, 255, 255, 1),
    130px 100px 0 0 rgba(255, 255, 255, 1),
    150px 100px 0 0 rgba(255, 255, 255, 1),
    60px 110px 0 0 rgba(255, 255, 255, 1), 90px 110px 0 0 rgba(255, 255, 255, 1),
    130px 110px 0 0 rgba(255, 255, 255, 1),
    150px 110px 0 0 rgba(255, 255, 255, 1),
    60px 120px 0 0 rgba(255, 255, 255, 1), 90px 120px 0 0 rgba(255, 255, 255, 1),
    120px 120px 0 0 rgba(255, 255, 255, 1),
    150px 120px 0 0 rgba(255, 255, 255, 1),
    60px 130px 0 0 rgba(255, 255, 255, 1), 70px 130px 0 0 rgba(255, 255, 255, 1),
    90px 130px 0 0 rgba(255, 255, 255, 1),
    100px 130px 0 0 rgba(255, 255, 255, 1),
    110px 130px 0 0 rgba(255, 255, 255, 1),
    140px 130px 0 0 rgba(255, 255, 255, 1),
    150px 130px 0 0 rgba(255, 255, 255, 1),
    70px 140px 0 0 rgba(255, 255, 255, 1), 80px 140px 0 0 rgba(255, 255, 255, 1),
    130px 140px 0 0 rgba(255, 255, 255, 1),
    140px 140px 0 0 rgba(255, 255, 255, 1),
    80px 150px 0 0 rgba(255, 255, 255, 1), 90px 150px 0 0 rgba(255, 255, 255, 1),
    100px 150px 0 0 rgba(255, 255, 255, 1),
    110px 150px 0 0 rgba(255, 255, 255, 1),
    120px 150px 0 0 rgba(255, 255, 255, 1),
    130px 150px 0 0 rgba(255, 255, 255, 1);
  height: 10px;
  width: 10px;
}
@keyframes spin {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

/* Countdown Styles */
#lotterycountdown {
  background-color: #ed5120;
  text-align: center;
  padding: 20px;
}
#lotterycountdown h2 {
  color: black;
}
.counter {
  margin: 20px auto;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.counter__stat {
  background-color: #000;
  color: #fff;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  border: 4px inset #ff3c00;
}

.counter__stat > div {
  font-size: 4em;
  line-height: 0em;
  overflow: hidden;
  max-height: 1.2em;
  max-width: 0.9em;
  text-align: center;
}
.counter__stat > div .number {
  margin: 0.5em 0.2em;
  position: relative;
}

@keyframes moveNumberOut {
  0% {
    margin-top: 0em;
    opacity: 1;
  }
  30% {
    margin-top: -0.7em;
  }
  100% {
    margin-top: 0em;
    opacity: 0;
  }
}
.move-number-out {
  animation: moveNumberOut 1.5s;
  animation-fill-mode: forwards;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0px;
  }
  #home,
  #about,
  #goals {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, minmax(150px, 250px));
  }
  .about_content p:nth-child(4)::after {
    content: "👉";
  }
  .about_media img {
    max-width: 300px;
  }
  .counter {
    gap: 20px;
  }
  .counter__stat > div .number {
    margin: 1em 0;
  }
  .counter__stat > div {
    line-height: 1.2em;
    height: 3.2em;
    max-height: 3.2em;
    width: 1.7em;
    max-width: 1.7em;
  }
  @keyframes moveNumberOut {
    0% {
      margin-top: 0em;
    }
    30% {
      margin-top: -1.2em;
    }
    100% {
      margin-top: -1.2em;
    }
  }
}
