* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg,
video {
  height: auto;
  max-width: 100%;
}
body.noscroll {
  overflow: hidden;
}
body {
  font-family: Helvetica Now Display, Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #d82416;
}
section {
  overflow-x: hidden;
}
.nav-links .socials {
  display: flex;
  position: fixed;
  bottom: 40px;
  z-index: 9999999;
  filter: invert(93%) sepia(88%) saturate(623%) hue-rotate(329deg)
    brightness(106%) contrast(103%);
  gap: 20px;
  justify-content: space-evenly;
  width: 80%;
}
.nav-links .socials > a img {
  width: 20px;
  height: 20px;
}
nav img {
  max-width: 100px;
}
nav .menu-btn[data-open="true"] .icon-open,
nav .menu-btn[data-open="false"] .icon-close {
  display: none;
}
nav .menu-btn[data-open="false"] .icon-open,
nav .menu-btn[data-open="true"] .icon-close {
  display: block;
}
nav .menu-btn {
  background: none;
  border: none;
  z-index: 9;
}
nav {
  height: 15vh;
  height: 15dvh;
  height: 15svh;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #000;
  position: sticky;
  top: 0;
}
.nav-links li:hover::before {
  display: block;
}
.nav-links li::before {
  position: absolute;
  z-index: -1;
  /* content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="387" height="127" preserveAspectRatio="none" viewBox="0 0 387 127" fill="none"><path d="M103.462 5.25909C82.9459 8.58603 7.32195 53.6204 50.0634 75.5392C60.6316 80.9587 72.9415 81.0521 84.1817 84.4241C94.7093 87.5824 104.253 90.7492 115.368 91.6209C144.133 93.8771 173.257 94.0586 202.085 92.4206C227.947 90.9512 253.907 92.7553 279.74 90.9102C300.53 89.4251 325.433 89.9936 345.133 82.0252C357.522 77.0141 362.548 65.7234 362.548 53.2379C362.548 41.906 331.355 34.5434 323.276 31.2032C299.425 21.3417 270.71 18.0534 245.088 18.0534C213.902 18.0534 182.716 18.0534 151.53 18.0534C136.545 18.0534 121.451 17.5349 106.483 18.2311C83.0908 19.3191 61.3592 27.2879 40.5565 37.6892C32.8799 41.5275 20.0677 49.1515 18.7884 58.7466C18.1019 63.8954 30.9767 69.9238 33.2709 71.1855C48.9556 79.8122 65.9291 85.5847 83.1155 90.377C118.324 100.195 155.731 105.454 192.223 104.238C230.289 102.969 269.62 96.7519 307.461 91.6209C330.329 88.5202 357.99 82.2082 373.743 64.0776C376.544 60.8539 381.272 55.7023 382.983 51.6386C385.519 45.615 368.725 32.8523 364.325 30.8478C353.841 26.0721 341.966 25.8885 330.917 23.2067C315.283 19.4121 299.346 16.3251 283.649 12.7225C247.67 4.4649 208.786 3.6598 171.965 3.6598C152.659 3.6598 133.31 3.26328 114.035 4.5483C92.2556 6.00027 74.1147 13.2785 53.884 20.9855C43.2373 25.0414 32.9042 29.7306 26.696 39.7328C23.3257 45.1627 16.7765 54.4881 19.0549 61.3232C23.0463 73.2973 44.3883 86.4883 54.8613 92.154C71.4589 101.133 91.1309 106.915 109.148 112.412C140.597 122.006 172.486 125.544 205.284 123.251C231.64 121.409 255.309 108.629 280.451 101.572C302.136 95.485 323.74 90.0448 345.133 82.9137C354.027 79.949 386.355 68.9723 383.338 52.8825C381.276 41.8808 364.267 33.9941 355.084 30.4924C339.977 24.7311 323.549 19.9217 307.461 18.0534C290.908 16.1311 274.338 16.4541 257.705 16.4541C228.473 16.4541 199.32 15.3524 170.099 14.9437C139.296 14.5129 108.501 13.2556 77.6957 13.2556C58.7436 13.2556 45.218 17.0236 27.851 24.3618C15.916 29.4047 8.97485 38.0151 3.68392 49.7728C0.445623 56.969 9.48467 61.8922 14.5236 65.3214C32.3707 77.4674 54.3154 86.1785 74.9413 92.4206C90.7139 97.1939 107.106 103.3 123.542 105.126C160.974 109.285 199.666 109.415 237.27 109.213C268.4 109.046 303.385 110.362 330.562 92.8648C340.138 86.6995 354.091 70.806 354.551 58.3912C354.815 51.2632 352.664 47.8653 349.753 42.0428" stroke="%23FFF36D" stroke-width="5.24094" /></svg>'); */
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="387" height="127" preserveAspectRatio="none" viewBox="0 0 387 127" fill="none"><path d="M103.462 5.25909C82.9459 8.58603 7.32195 53.6204 50.0634 75.5392C60.6316 80.9587 72.9415 81.0521 84.1817 84.4241C94.7093 87.5824 104.253 90.7492 115.368 91.6209C144.133 93.8771 173.257 94.0586 202.085 92.4206C227.947 90.9512 253.907 92.7553 279.74 90.9102C300.53 89.4251 325.433 89.9936 345.133 82.0252C357.522 77.0141 362.548 65.7234 362.548 53.2379C362.548 41.906 331.355 34.5434 323.276 31.2032C299.425 21.3417 270.71 18.0534 245.088 18.0534C213.902 18.0534 182.716 18.0534 151.53 18.0534C136.545 18.0534 121.451 17.5349 106.483 18.2311C83.0908 19.3191 61.3592 27.2879 40.5565 37.6892C32.8799 41.5275 20.0677 49.1515 18.7884 58.7466C18.1019 63.8954 30.9767 69.9238 33.2709 71.1855C48.9556 79.8122 65.9291 85.5847 83.1155 90.377C118.324 100.195 155.731 105.454 192.223 104.238C230.289 102.969 269.62 96.7519 307.461 91.6209C330.329 88.5202 357.99 82.2082 373.743 64.0776C376.544 60.8539 381.272 55.7023 382.983 51.6386C385.519 45.615 368.725 32.8523 364.325 30.8478C353.841 26.0721 341.966 25.8885 330.917 23.2067C315.283 19.4121 299.346 16.3251 283.649 12.7225C247.67 4.4649 208.786 3.6598 171.965 3.6598C152.659 3.6598 133.31 3.26328 114.035 4.5483C92.2556 6.00027 74.1147 13.2785 53.884 20.9855C43.2373 25.0414 32.9042 29.7306 26.696 39.7328C23.3257 45.1627 16.7765 54.4881 19.0549 61.3232C23.0463 73.2973 44.3883 86.4883 54.8613 92.154C71.4589 101.133 91.1309 106.915 109.148 112.412C140.597 122.006 172.486 125.544 205.284 123.251C231.64 121.409 255.309 108.629 280.451 101.572C302.136 95.485 323.74 90.0448 345.133 82.9137C354.027 79.949 386.355 68.9723 383.338 52.8825C381.276 41.8808 364.267 33.9941 355.084 30.4924C339.977 24.7311 323.549 19.9217 307.461 18.0534C290.908 16.1311 274.338 16.4541 257.705 16.4541C228.473 16.4541 199.32 15.3524 170.099 14.9437C139.296 14.5129 108.501 13.2556 77.6957 13.2556C58.7436 13.2556 45.218 17.0236 27.851 24.3618C15.916 29.4047 8.97485 38.0151 3.68392 49.7728C0.445623 56.969 9.48467 61.8922 14.5236 65.3214C32.3707 77.4674 54.3154 86.1785 74.9413 92.4206C90.7139 97.1939 107.106 103.3 123.542 105.126C160.974 109.285 199.666 109.415 237.27 109.213C268.4 109.046 303.385 110.362 330.562 92.8648C340.138 86.6995 354.091 70.806 354.551 58.3912C354.815 51.2632 352.664 47.8653 349.753 42.0428" stroke="%23FFF36D" stroke-width="5.24094" /></svg>');
  display: none;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;

  top: 0;
  left: 0;
}
.nav-links li {
  position: relative;
  padding: 12px;
}
.nav-links li:hover {
  color: #fff36d;
}
.nav-links.menu-open {
  display: flex;
  position: fixed;
  background: black;
  height: 100%;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
  padding: 0 10%;
}
.nav-links {
  list-style: none;
  display: none;
  gap: 40px;

  font-family: Century, "century-regular", Georgia, "Times New Roman", Times,
    serif;
  font-size: 20.214px;
}
section {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}
section#hero {
  min-height: 85vh;
  min-height: 85dvh;
  min-height: 85svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
#hero .content > p {
  max-width: 60vw;
  margin: 0 auto;
}

#hero .definition {
  transform: translateY(-50%);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  color: #fff36d;
  font-family: Century, "century-regular", Georgia, "Times New Roman", Times,
    serif;
}
#hero h1 {
  /* font-size: 137.638px; */
  font-size: clamp(56px, 10vw, 137px);
  line-height: 93.366%; /* 128.507px */
  text-transform: lowercase;
  font-weight: 400;
}
#hero .scroll-icon {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#hero .noun {
  font-size: clam(15px, 1.5vw, 29.196px);
  /* font-size: 29.196px; */
  text-align: right;
  line-height: 82.347%; /* 24.042px */
}
section .tagline {
  text-align: center;
  font-size: clamp(18px, 2vw, 23.52px);
  font-weight: 700;
  line-height: 93.366%; /* 21.96px */
  text-transform: uppercase;

  position: relative;
}
section .tagline img {
  position: absolute;
  right: 0;
  bottom: -70px;
}
.marquee-info {
  /* margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; */

  padding: 40px 0;
  color: #000;
  background: #fff36d;

  /* font-size: 40px; */
  font-size: clamp(22px, 3.5vw, 40px);
  /* line-height: 0%; 0px */
  letter-spacing: 0.442px;
}
.marquee-info .tagline ~ p {
  text-wrap: wrap;
}
.marquee-info .tagline {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 40px 0;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.254px;
}
.marquee-info .content {
  padding: 0 10%;
}

.marquee-container {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  max-width: 100%;
}

.marquee-scroll {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.marquee-container[data-animated="true"] {
  overflow: hidden;
}
.marquee-container[data-animated="true"] .marquee-scroll {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}
.marquee-scroll .marquee-item {
  display: flex;
  gap: 1rem;
}
.marquee-scroll .marquee-item p {
  padding: 10px;
  border: 1px solid #000;
  font-size: clamp(35.459px, 4.5vw, 47px);
  font-family: "Technicality", sans-serif;
  font-family: "Technicality1", sans-serif;
  font-weight: 500;
  letter-spacing: 0.355px;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

#wenmint .content > *,
#postmint .content > * {
  margin-bottom: 20px;
}
#wenmint,
#postmint {
  gap: 40px;
  padding: 15% 10%;
  /* padding: 150px 70px; */
  background: #d82416;

  font-size: clamp(20px, 3vw, 30px);
  /* font-size: 30px; */
  line-height: 129.36%; /* 38.808px */
  letter-spacing: 0.3px;

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
#postmint {
  place-items: start;
}
#wenmint h2,
#postmint h2,
#raffle h2 {
  -webkit-text-stroke: 2px #000;
  width: min-content;
  position: absolute;
  word-wrap: break-word;
  text-shadow: 6.766149520874023px 6.766149520874023px 0px #000;
  font-family: Big Shoulders Display;
  /* font-size: 188.072px; */
  font-size: clamp(83px, 10vw, 188px);
  font-weight: 800;
  line-height: 93.366%; /* 175.595px */
  text-transform: uppercase;
  top: -40px;
  left: -90px;
}
#raffle h2 {
  position: static;
  inset: auto;
  text-align: center;
  width: auto;
}

#wenmint .media,
#postmint .media {
  position: relative;
  justify-self: end;
}
#postmint .media {
  justify-self: end;
}
#wenmint .media figure,
#postmint .media figure {
  max-width: 210px;
}
#wenmint .media figure img,
#postmint .media figure svg {
  border: 4px solid #000;
  height: 100%;
  width: 100%;
}
#postmint .media figure svg {
  overflow: visible;
  background-color: #ffbe16;
}
#postmint .media figure svg #shadow {
  transform-origin: center;
  animation: shadow-expand 5s ease-in-out infinite;
}

#postmint .media figure svg #bag {
  animation: float 5s ease-in-out infinite;
}

#raffle {
  background: #fff36d;
  min-height: 50vh;
  min-height: 50dvh;
  min-height: 50svh;
}
#raffle figure {
  position: relative;
}
#raffle button svg {
  width: 40%;
}
#raffle button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
#raffle a {
  /* width: fit-content; */
  width: 70%;

  text-decoration: none;
  display: block;
  margin: 40px auto 0 auto;
  cursor: pointer;
  color: #000;
  font-family: Century, "century-regular", Georgia, "Times New Roman", Times,
    serif;
  font-size: clamp(23px, 5vw, 40px);
  /* font-size: 40.398px; */
  position: relative;
}
/* #raffle .media a {
  margin-top: 20px;
} */
#raffle .content a {
  display: none;
}
#raffle a svg {
  height: fit-content;
  width: 100%;
}
#raffle a p {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  /* top: 50%;
  transform: translate(55%, -70%); */
}
#raffle a span {
  font-family: Helvetica Now Display, Arial, Helvetica, sans-serif;
  font-style: italic;
}
#raffle {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 20% 10%;
}
/* #raffle .media figure {
  max-width: 400px;
} */
footer {
  overflow: hidden;
  text-align: center;
  padding: 40px 70px;
  background-image: url(./images/footer2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  font-size: clamp(12px, 1vw, 23.214px);
  /* font-size: 23.214px; */
  color: #000;
}
footer .socials {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 30px;
}
footer .socials > a img {
  width: 20px;
  height: 20px;
}
footer .powered {
  font-family: Century, "century-regular", Georgia, "Times New Roman", Times,
    serif;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-150px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

@keyframes shadow-expand {
  0% {
    opacity: 0.7;
    transform: scaleX(1);
  }

  50% {
    opacity: 0.5;
    transform: scaleX(0.7);
  }

  100% {
    opacity: 0.7;
    transform: scaleX(1);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (min-width: 768px) {
  nav .menu-btn {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  #wenmint,
  #postmint {
    padding: 10% 70px;
    grid-template-columns: 1fr 1fr;
  }
  #wenmint h2,
  #postmint h2,
  #raffle h2 {
    top: -100px;
    left: -180px;
  }

  #wenmint .media figure,
  #postmint .media figure {
    max-width: 400px;
  }

  #raffle {
    grid-template-columns: 0.7fr 1fr;
    padding: 60px 70px;
  }
  #postmint .content {
    order: -1;
  }
  #postmint .media {
    justify-self: start;
  }
  #postmint h2 {
    left: auto;
    top: -100px;
    right: -180px;
  }
  #raffle h2 {
    text-align: left;
  }
  #raffle .content a {
    display: block;
  }
  #raffle a svg {
    width: auto;
    height: fit-content;
  }
  #raffle a {
    width: fit-content;
    margin: 40px 0 0 0;
  }

  #raffle .media a {
    display: none;
  }

  #raffle button {
    width: 80px;
    height: 80px;
  }

  footer .socials > a img {
    width: 50px;
    height: 50px;
  }
  .nav-links .socials {
    display: none;
  }
}
